<nz-row [nzJustify]="'center'" [nzAlign]="'middle'">
  <h2>Gerenciamento de Medicamentos</h2>
</nz-row>

<nz-row [nzJustify]="'center'" [nzAlign]="'middle'">
  <div>
    <nz-table
      #medicamentosTable
      [nzData]="medicamentos"
      nzBordered
      class="table-full-width"
      [nzShowPagination]="true"
    >
      <thead>
        <tr>
          <th>Nome do Medicamento</th>
          <th>Dosagem (mg)</th>
          <th>Data de Início</th>
          <th>Data de Fim</th>
          <th>Horários de Administração</th>
          <th>Observações</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicamento of medicamentos">
          <td>{{ medicamento.name }}</td>
          <td>{{ medicamento.dosage }}</td>
          <td>{{ medicamento.startdate | date : "dd/MM/yyyy" }}</td>
          <td>{{ medicamento.enddate | date : "dd/MM/yyyy" }}</td>
          <td>
            <div *ngFor="let schedule of medicamento.administrationschedules">
              <p>
                Horário: {{ schedule.time }} | Dias:
                {{ schedule.daysOfWeek.join(", ") }}
              </p>
            </div>
          </td>
          <td>{{ medicamento.observations }}</td>
          <td>
            <button
              nz-button
              nzType="link"
              (click)="editarMedicamento(medicamento)"
            >
              <i nz-icon nzType="edit" class="icons-color"></i>
            </button>
            <button
              nz-button
              nzType="link"
              (click)="openDeleteModal(medicamento)"
            >
              <i nz-icon nzType="delete" class="icons-color"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-row>

<nz-row [nzJustify]="'center'" [nzAlign]="'middle'">
  <button
    nz-button
    nzType="primary"
    class="button-style custom-border-input"
    [routerLink]="['/new-medication']"
  >
    Adicionar Novo Medicamento
  </button>
</nz-row>

<nz-modal
  [(nzVisible)]="isDeleteModalVisible"
  nzTitle="Excluir Medicamento"
  [nzContent]="modalContent"
  [nzClosable]="false"
  [nzFooter]="modalFooter"
>
  <ng-template #modalContent>
    <p>
      Você tem certeza que deseja excluir o medicamento
      <b>{{ selectedMedicamento?.name }}</b
      >?
    </p>
  </ng-template>
  <ng-template #modalFooter>
    <button
      nz-button
      nzType="default"
      (click)="handleCancel()"
      class="modal-button modal-button-cancel custom-border-input"
    >
      Cancelar
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="confirmarDelete()"
      class="modal-button modal-button-ok custom-border-input"
    >
      Ok
    </button>
  </ng-template>
</nz-modal>
