<nz-row [nzJustify]="'center'" [nzAlign]="'middle'">
  <h2>Configurações de Conta</h2>
</nz-row>

<nz-row nzGutter="16" class="card-container">
  <nz-col nzSpan="8" [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="8">
    <nz-card nzHoverable nzTitle="Informações Pessoais" class="custom-card">
      <p>Atualize seu nome, email e telefone.</p>
      <a [routerLink]="['/personal-info', userId]">
        <button
          nz-button
          nzType="primary"
          class="button-style custom-border-input"
        >
          Editar
        </button>
      </a>
    </nz-card>
  </nz-col>

  <nz-col nzSpan="8" [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="8">
    <nz-card nzHoverable nzTitle="Segurança" class="custom-card">
      <p>Altere sua senha e configure opções de segurança.</p>
      <a routerLink="/security">
        <button
          nz-button
          nzType="primary"
          class="button-style custom-border-input"
        >
          Configurar
        </button>
      </a>
    </nz-card>
  </nz-col>
</nz-row>
