<nz-row [nzJustify]="'center'" [nzAlign]="'middle'">
  <h2>Painel de Saúde e Medicamentos</h2>
</nz-row>

<div class="card-row" nz-row [nzGutter]="16">
  <div nz-col nzSpan="12" class="card-col">
    <nz-card nzTitle="Próximo Medicamento">
      <ul *ngIf="nextMedication">
        <li><strong>Medicamento:</strong> {{ nextMedication.name }}</li>
        <li>
          <strong>Horário:</strong>
          {{ getNextAdministrationTime(nextMedication) }}
        </li>
      </ul>
      <p *ngIf="!nextMedication">Nenhum medicamento agendado.</p>
    </nz-card>
  </div>

  <div nz-col nzSpan="12" class="card-col">
    <nz-card nzTitle="Medicamentos do Dia">
      <ul>
        <li *ngFor="let medication of dailyMedications">
          <strong>Medicamento:</strong> {{ medication.name }}
          <ul>
            <li *ngFor="let time of getAdministrationTimesForToday(medication)">
              {{ time }}
            </li>
          </ul>
        </li>
      </ul>
      <p *ngIf="!dailyMedications.length">
        Nenhum medicamento agendado para hoje.
      </p>
    </nz-card>
  </div>
</div>

<div class="card-row" nz-row [nzGutter]="16">
  <div nz-col nzSpan="12" class="card-col">
    <nz-card nzTitle="Dispensação de Medicamentos">
      <div
        echarts
        [options]="medicationChartOptions"
        class="dashboard-chart"
      ></div>
    </nz-card>
  </div>

  <div nz-col nzSpan="12" class="card-col">
    <nz-card nzTitle="Adesão ao Tratamento">
      <div
        echarts
        [options]="adherenceChartOptions"
        class="dashboard-chart"
      ></div>
    </nz-card>
  </div>
</div>
