<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    [nzWidth]="isCollapsed ? '80px' : '256px'"
    nzBreakpoint="md"
    [nzCollapsible]="true"
    [(nzCollapsed)]="isCollapsed"
    [nzCollapsedWidth]="58"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <img src="siam_logo_no_background_square_noborders.png" alt="logo" />
      <h1>SIAM</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/welcome">
          <i nz-icon nzType="dashboard" nzTheme="outline" class="custom-icon-size"></i>
          Dashboard
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/medication-management">
          <i nz-icon nzType="form" nzTheme="outline" class="custom-icon-size"></i>
          Dispensação de Medicamentos
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/alerts">
          <i nz-icon nzType="notification" nzTheme="outline" class="custom-icon-size"></i>
          Alertas e Notificações
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/monitoring">
          <i nz-icon nzType="monitor" nzTheme="outline" class="custom-icon-size"></i>
          Monitoramento e Adesão
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/reports">
          <i nz-icon nzType="file-text" nzTheme="outline" class="custom-icon-size"></i>
          Relatórios
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/user-management">
          <i nz-icon nzType="user" nzTheme="outline" class="custom-icon-size"></i>
          Cadastro de Usuários
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/settings">
          <i nz-icon nzType="setting" nzTheme="outline" class="custom-icon-size"></i>
          Configurações
        </a>
      </li>
      <li
        nz-menu-item
        role="button"
        (click)="logout()"
        (keydown.enter)="logout()"
        (keyup.enter)="logout()"
        tabindex="0"
      >
        <i nz-icon nzType="logout" nzTheme="outline" class="custom-icon-size"></i>
        Sair
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <h2 class="user-name">Bem-vindo ao SIAM!</h2>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
