<nz-row [nzJustify]="'center'" [nzAlign]="'middle'">
  <h2>Cadastro de Responsáveis</h2>
</nz-row>

<nz-row [nzJustify]="'center'" [nzAlign]="'middle'">
  <div>
    <form
      [formGroup]="newUserForm"
      nz-form
      nzLayout="vertical"
      (ngSubmit)="submitForm()"
    >
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24" [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12">
          <nz-form-item>
            <nz-form-label [nzFor]="'full_name'" nzRequired>
              Nome Completo
            </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                id="full_name"
                formControlName="full_name"
                class="rounded-input custom-border-input"
              />
            </nz-form-control>
          </nz-form-item>
        </nz-col>

        <nz-col [nzSpan]="24" [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12">
          <nz-form-item>
            <nz-form-label [nzFor]="'cpf'" nzRequired>CPF</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                id="cpf"
                formControlName="cpf"
                mask="000.000.000-00"
                placeholder="000.000.000-00"
                class="rounded-input custom-border-input"
              />
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24" [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12">
          <nz-form-item>
            <nz-form-label [nzFor]="'rg'">RG</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                id="rg"
                formControlName="rg"
                class="rounded-input custom-border-input"
              />
            </nz-form-control>
          </nz-form-item>
        </nz-col>

        <nz-col [nzSpan]="24" [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12">
          <nz-form-item>
            <nz-form-label [nzFor]="'birthdate'" nzRequired>
              Data de Nascimento
            </nz-form-label>
            <nz-form-control>
              <nz-date-picker
                formControlName="birthdate"
                nzFormat="dd/MM/yyyy"
                class="rounded-input custom-border-input date-picker-input"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24" [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12">
          <nz-form-item>
            <nz-form-label [nzFor]="'phone_number'" nzRequired>
              Telefone
            </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                id="phone_number"
                formControlName="phone_number"
                mask="(00) 00000-0000"
                placeholder="(00) 00000-0000"
                class="rounded-input custom-border-input"
              />
            </nz-form-control>
          </nz-form-item>
        </nz-col>

        <nz-col [nzSpan]="24" [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12">
          <nz-form-item>
            <nz-form-label [nzFor]="'email'" nzRequired>Email</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                id="email"
                formControlName="email"
                class="rounded-input custom-border-input"
                type="email"
              />
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24" [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12">
          <nz-form-item>
            <nz-form-label [nzFor]="'address'">Endereço</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                id="address"
                formControlName="address"
                class="rounded-input custom-border-input"
              />
            </nz-form-control>
          </nz-form-item>
        </nz-col>

        <nz-col [nzSpan]="24" [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzLg]="6">
          <nz-form-item>
            <nz-form-label [nzFor]="'city'">Cidade</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                id="city"
                formControlName="city"
                class="rounded-input custom-border-input"
              />
            </nz-form-control>
          </nz-form-item>
        </nz-col>

        <nz-col [nzSpan]="24" [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzLg]="6">
          <nz-form-item>
            <nz-form-label [nzFor]="'zipCode'">CEP</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                id="zipCode"
                formControlName="zipCode"
                class="rounded-input custom-border-input"
              />
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24">
          <nz-form-item>
            <nz-form-label [nzFor]="'observations'">Observações</nz-form-label>
            <nz-form-control>
              <nz-textarea-count [nzMaxCharacterCount]="1000">
                <textarea
                  id="observations"
                  formControlName="observations"
                  class="text-input custom-border-input"
                  nz-input
                  rows="4"
                  placeholder="Escreva as observações aqui"
                ></textarea>
              </nz-textarea-count>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-form-item class="button-center">
        <button
          nz-button
          class="button-style custom-border-input"
          nzType="primary"
          type="submit"
        >
          Cadastrar Responsável
        </button>
      </nz-form-item>
    </form>
  </div>
</nz-row>
